body{
    background-image: url('https://media.istockphoto.com/photos/residential-housing-background-picture-id1192403701?b=1&k=20&m=1192403701&s=170667a&w=0&h=xW5NNn1lyKmcAgan7JQttS-DYilFNGt4DS-IxxNgYQg=');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
img{
    max-width: 100%;
    height: auto;

}
/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(143, 209, 235);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #317ba5;
    color: white;
  }

  @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

  :root{
      --succes-color: #2ecc71;;
      --error-color: #e74c3c;
  }
  
  
  *{
      box-sizing: border-box;
  }
  
  .container{
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.3);
      width: 400px;
      font-family: 'Open Sans', sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
  }
  
  h2{
      text-align: center;
      margin: 0 0 20px;
  }
  
  .form{
      padding: 30px 40px;
  }
  
  .form-control{
      margin-bottom: 10px;
      padding-bottom: 20px;
      position: relative;
  }
  
  .form-control label{
      color:#777;
      display: block;
      margin-bottom: 5px; 
  }
   
  .form-control input
  {
      border: 2px solid #f0f0f0;
      border-radius: 4px;
      display: block;
      width: 100%;
      padding: 10px;
      font-size: 14px;   
  }
  
  .form-control input:focus{
      outline: 0;
      border-color: #777;
  
  }
  
  .form-control.success input {
      border-color: var(--succes-color);
  }
  
  .form-control.error input {
      border-color: var(--error-color);    
  }
  
  .form-control small{
      color: var(--error-color);
      position: absolute;
      bottom: 0;
      left: 0;
      visibility: hidden;
  }
  
  .form-control.error small{
      visibility: visible;
  }
  .form button {
      cursor: pointer;
      background-color: #3498db;
      border: 2px solid #3498db;
      border-radius: 4px;
      color: #fff;
      display: block;
      padding: 10px;
      font-size: 16px;
      margin-top:20px;
      width:100%;
  }
  #thank{
      display: none;
  }
  .addition{
      display:flex;
  }
  #number-added{
      width: 70px;
      margin-left: 20px;
      height: 40px;
      margin-top: 7px;
  }
  #verify{
     font-size: 12px;
  }